.user-card img {
    width: 30%;
    margin-left: 5%;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
}

.user-card-content {
    border: none;
    flex-direction: row !important;
    align-items: center;
}
.username{
    font-size: 2em;
}
.role{
    text-transform: lowercase;
}

@media (min-width: 992px){
  .user-card img {
    width: 30%;
    margin-left: 0%;
    height: 250px;
    }
    .user-card-content {
        font-size: 1.3em;
    }

}

@media (min-width: 1200px) { 
  .user-card img {
    width: 25%;
    height: 250px;
    }

    .user-card-content {
        font-size: 1.5em;
    }
}
