.container-card img {
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(245, 182, 193);
}

.container-card {
    background: linear-gradient(#edc3e82a, #f2cde791);
    border-bottom: 1px solid #f2d5ff;
    padding: 10px;
    margin: 9px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(243, 176, 243, 0.727);
}

.container-card a {
    text-align: center;
    width: 50%;
}

.container-card a:hover {
    text-decoration: none;
    color:#fdfdfd;
    background-color: #dba1f2; 
    border-radius: 2px;   
    transition: .6s ease
}

#user-search {
    width: 98%;
    margin: 0 auto;
    box-shadow: none !important;
    border: none;
    margin: 20px;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.398);
}

#user-search:focus {
    border-radius: 0 !important;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media (min-width: 576px){

}
@media (min-width: 768px){
  .container-card img {
    height: 200px;
    }
    .container-card {
    font-size: 1.2em;
    }
}

@media (min-width: 992px){
 .container-card img {
    height: 250px;
    }
}

@media (min-width: 1200px) { 
  .container-card img {
    height: 350px;
    }
    .container-card a {
        font-size: 1.3em;
    }
}
