.logo {
    width: 15%;
    padding-right: 10px;
    margin-bottom: 5px;
}
.navbar-brand{
    font-weight: 300;
    font-size: 1.5em;
    align-items: center;
}
.nav-link{
font-size: .8em;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.55);
}

.navbar{
background: linear-gradient(#edc3e82a, #f2cde791);

}
.navbar a {
    text-decoration: none;
}

.navbar-nav a {
  width: 100px;
}

@media (min-width: 576px){
   .logo {
    width: 18%;
  }
  

}
@media (min-width: 768px){
  .logo {
    width: 13%;
  }
  .navbar-brand{
    font-size: 1.8em;
  }
  
}
@media (min-width: 992px){
  .logo {
    width: 19%;
  }
  .navbar-brand{
    font-size: 1.9em;
  }

  .nav-link{
  font-size: .9em;
  padding: 0;
  }
}

@media (min-width: 1200px) { 
  .logo {
    width: 18%;
  }
  .navbar-brand{
    font-size: 2em;
  }
}