.searchBar{
    width: 70%;
    margin-left: 15%;
    height: 45px;
}

#map-search {
    box-shadow: none !important;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.398);
}