footer {
  background: linear-gradient(#edc3e82a, #f2cde791);
  color: rgba(0,0,0,.55);
  text-align: center;
  font-size: .8em;
  padding: 5px;
  width: 100%;
  bottom: 0px;
  margin-top: 50px;
}

@media (min-width: 576px){
   footer{
     font-size: .9em;
   }
}

@media (min-width: 768px){
  
  footer {
    font-size: 1.2em;
  }
}