body {
  font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: end;
}
.nav-link{
    text-decoration: none;
}

@media (min-width: 576px){
   
}

@media (min-width: 992px){
  
}

@media (min-width: 1200px) { 
  
}
 

